---
id: sessoes
layout: base
permalink: sessoes/
---

<div id="scroll-wrap" class="container">

    {% assign prevPart = null %}
    {% for postPart in site.livro %}
      {% unless prevPart == postPart.parte %}
        <h2 class="section-title">Parte: {{postPart.parte}}</h2>

        <!-- <div class="main"> -->
          <div id="bookshelf" class="bookshelf">
          {% assign prevChapt = null %}
          {% assign posts = site.livro | where: "parte",postPart.parte  %}
          {% for postChapt in posts %}
            {% unless prevChapt == postChapt.capitulo %}
              <figure>
                <div class="book" data-book="book-{{postChapt.capituloSlug}}"></div>
                <div class="buttons"><a href="#">{{postChapt.capitulo}}</a><a href="#"></a></div>
                <figcaption><h2>{{postChapt.capituloTitulo}}</h2></figcaption>
                <div class="details">
                </div>
              </figure>
              {% assign prevChapt = postChapt.capitulo %}
            {% endunless %}
          {% endfor %}
          </div>
        <!-- </div> -->
        {% assign prevPart = postPart.parte %}
      {% endunless %}
    {% endfor %}
      <!-- /main -->
      
    </div><!-- /container -->

    {% assign prevChapt = null %}
      {% for postChapt in site.livro %}
        {% unless prevChapt == postChapt.capitulo %}
        <!-- Fullscreen BookBlock -->
        <div class="bb-custom-wrapper" id="book-{{postChapt.capituloSlug}}">
          <div class="bb-bookblock">

            {% assign posts = site.livro | where: "capitulo",postChapt.capitulo  %}
            {% for post in posts %}
              <div class="bb-item">
                <div class="bb-custom-side ">
                  <div class="chapter-nav">
                    <span>{{postChapt.capitulo}}</span>
                      {% assign prevPg = null %}
                      {% assign navPage = 1 %}
                      <ol>
                      {% for postNav in posts %}
                        {% unless prevPg == postNav.pagina %}
                          <li class="{% if post.pagina == postNav.pagina %}active{% endif %}">
                            <a href="#" data-hook="book-nav" data-page="{{navPage}}">{{postNav.pagina}}</a>
                          </li>
                          {% assign prevPg = postNav.pagina %}
                        {% endunless %}
                        {% assign navPage = navPage | plus: 1 %}
                      {% endfor %}
                      </ol>
                  </div>
                </div>
                <div class="bb-custom-side {{post.page-layout}}">
                  <h1>{{post.title}}</h1>
                    <div class="post-content" {% if post.page-layout != 'intro' %} style="background-image: url('{{site.baseurl}}/assets/graphics/content/{{post.image}}')" {% endif %} >
                      {{post.content | markdownify}}
                    </div>
                </div>
              </div>
            {% endfor %}

          </div><!-- /bb-bookblock -->
          <nav>
            <a href="#" class="bb-nav-prev">Previous</a>
            <a href="#" class="bb-nav-next">Next</a>
            <a href="#" class="bb-nav-close">Close</a>
          </nav>
        </div><!-- /bb-custom-wrapper -->
        {% assign prevChapt = postChapt.capitulo %}
      {% endunless %}
    {% endfor %}

  </div><!-- /bb-custom-wrapper -->

