#page-header {
	background-color: #fff;
	box-shadow:  0 0 4px rgba(0,0,0,.2);;
	overflow: hidden;
	z-index: 100;

	#page-logo {
		float: left;
		padding: 10px;
		margin: 0;
		a {
			display: block;
			height: 40px;
			width: 191px;
			background: url('../graphics/layout/logotipo.svg') top left no-repeat;
			background-size: 191px 40px;
			float: left;
			text-indent: 100%;
			overflow: hidden;
		}
	}

	.primary-nav {
		@extend .inline-list;
		float: right;
		overflow: hidden;
		font-weight: 300;
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				color: rgba(0,0,0,.8);
				text-decoration: none;
			}
			&.active {
				font-weight: bold;
				border-bottom: 3px solid #375b85;
			}
		}
	}

	&.header-fixed {
		opacity: 0;
		transition: opacity 0.2s, top 0.4s;
		position: fixed;
		top: -60px;
		left: 0;
		right: 0;
	}
	&.header-active {
		opacity: 1;
		top: 0;
	}
}